POSTGRES_HOST=your-host.supabase.com
POSTGRES_USER=your-user
POSTGRES_PORT=6543
POSTGRES_DATABASE=dbname
POSTGRES_PASSWORD=your-password

JWT_SECRET=<generate-with-openssl-rand-hex-32>
UPLOADTHING_TOKEN=your-uploadthing-token

DISCORD_CLIENT_ID=your-discord-app-id
DISCORD_CLIENT_SECRET=your-discord-app-secret
DISCORD_REDIRECT_URI=http://localhost:8000/callback
CLIENT_URL=http://localhost:8000
DISCORD_GUILD_EXCELSIOR_ID=discordid
DISCORD_GUILD_COSMOTEER_ID=discordid2

ADMIN_USERNAMES="someuser"

TURNSTILE_SECRET=your-turnstile-secret
NEXT_PUBLIC_TURNSTILE_SITEKEY=0x3AAAAAAEAQ3jV265CBCG7Z
