.content-container .section-description {
    display:block;
    float:left;
    padding:15px;
    width:100%
    }
    
    .section-description h2 {
    color:#fff;
    display:block;
    float:left;
    font-size:34px;
    text-align:center;
    text-transform:uppercase;
    width:100%
    }
    
    @media(min-width:768px) {
    .section-description h2 {
    text-align:left
    }
    }
    
    .section-description p {
    display:block;
    float:left;
    letter-spacing:1px;
    margin-top:14px;
    text-align:justify;
    width:100%
    }
    
    @media(min-width:1024px) {
    .section-description p {
    font-size:18px
    }
    }
    
    @media(min-width:1360px) {
    .section-description p {
    font-size:20px
    }
    }
    
    .content-container .tabs-container {
    display:block;
    float:left;
    margin-top:15px;
    padding:0 15px;
    width:100%
    }
    
    .tabs-container > button {
    border-radius:8px 0 0 0;
    font-size:18px;
    line-height:24px;
    width:50%
    }
    
    .tabs-container > button+button {
    border-radius:0 8px 0 0
    }
    
    .tabs-container > button.active {
    background-color:rgba(0,126,255,0.2);
    color:#fff
    }
    
    @media(min-width:768px) {
    .tabs-container > button {
    width:33%
    }
    }
    
    @media(min-width:1240px) {
    .tabs-container > button {
    width:25%
    }
    }
    
    .tabs-container .tab {
    background-color:rgba(0,126,255,0.2);
    border:1px solid #1C598C;
    border-radius:0 0 8px 8px;
    box-shadow:inset 0 0 8px rgba(0,126,255,0.35),0 0 5px rgba(0,126,255,0.35);
    display:none;
    float:left;
    padding:20px 15px 30px;
    position:relative;
    width:100%
    }
    
    .tabs-container .tab.active {
    display:block
    }
    
    @media(min-width:768px) {
    .tabs-container .tab {
    border-radius:0 8px 8px 8px
    }
    }
    
    .tabs-container .tab:before {
    border:2px solid rgba(0,52,102,0.25);
    border-radius:inherit;
    box-sizing:border-box;
    content:'';
    display:block;
    height:100%;
    left:0;
    pointer-events:none;
    position:absolute;
    top:0;
    width:100%
    }
    
    .content-container .ships-list {
    display:grid;
    float:left;
    gap:20px;
    grid-template-columns:1fr;
    justify-content:space-around;
    margin-top:25px;
    padding:0 15px;
    width:100%
    }
    
    .content-container .tab .ships-list {
    padding:0
    }
    
    @media(min-width:640px) {
    .content-container .ships-list {
    grid-template-columns:repeat(2,1fr)
    }
    }
    
    @media(min-width:1024px) {
    .content-container .ships-list {
    grid-template-columns:repeat(3,1fr)
    }
    }
    
    @media(min-width:1360px) {
    .content-container .ships-list {
    grid-template-columns:repeat(4,1fr)
    }
    }
    
    .ships-list li {
    display:block
    }
    
    @media (max-width: 639px) {
    .ships-list li {
    display:block
    }
    }
    
    @media (min-width: 640px) and (max-width: 1023px) {
    .ships-list li {
    display:block
    }
    }
    
    .cssTable td {
    text-align:center;
    vertical-align:middle
    }
    
    input#tag-input {
    background-color:#00008b;
    box-sizing:border-box;
    color:#fff;
    height:30px;
    width:50%
    }

    input#min-price {
        background-color:#00008b;
        box-sizing:border-box;
        color:#fff;
        height:30px;
        width:10%
        }
        #price-slider {
            background-color: #021526;


            width: 20%;
            }
        

    input#max-price {
        background-color:#00008b;
        box-sizing:border-box;
        color:#fff;
        height:30px;
        width:10%
        }
    
    input#authorinput {
    background-color:#00008b;
    box-sizing:border-box;
    color:#fff;
    height:30px;
    width:20%
    }
    
    .ui-menu-item {
    background-color:#207eca;
    border:1px solid #ccc;
    color:#fff
    }
    
    .search-container {
    display:inline-block;
    position:relative
    }
    
    .info-icon {
    background-image:url(../img/info.png);
    background-repeat:no-repeat;
    background-size:contain;
    cursor:pointer;
    filter:invert(100%);
    height:30px;
    position:absolute;
    right:30px;
    top:0;
    width:30px;
    z-index:1
    }
    
    .info-icon:hover::after {
    background-color:rgba(0,0,0,0.8);
    border-radius:4px;
    color:#fff;
    column-gap:10px;
    columns:6;
    content:attr(data-tags);
    font-size:12px;
    left:50%;
    padding:4px 8px;
    position:absolute;
    top:20px;
    transform:translateX(-50%);
    white-space:pre-line;
    z-index:2
    }