.form-container {
    display: flex;
    justify-content: space-between;
    }
    .form-list {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    .form-table {
    display: table;
    width: 100%;
    }
    .form-table-row {
    display: table-row;
    }
    .form-table-cell {
    display: table-cell;
    width: 100%; /* Adjust the width as needed */
    padding-right: 20px; /* Adjust the spacing between cells as needed */
    
    }
    td {
       vertical-align: top;
     }
     .form-group {
      display: flex;
      align-items: flex-start;
  }

  .form-group label {
      margin-right: 10px;
  }

  .form-group textarea {
      margin-top: 3px;
  }
     input#price {
         background-color: darkblue;
         color: white;
     }
     input#description {
       background-color: darkblue;
       color: white;
   }
   textarea#description {
      background-color: darkblue;
      color: white;
  }
   input#submitted_by {
    background-color: darkblue;
    color: white;
 }
 input#ship_name {
    background-color: darkblue;
    color: white;
 }
 input#author {
    background-color: darkblue;
    color: white;
 }