.site-container {
    margin: 0;
    padding: 0;
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "header header header"
      ". search ."
      ". listing ."
      "footer footer footer";
    animation: background-movement 24s linear 0s infinite;
    background-attachment: fixed;
    background-image: url(../img/background.webp);
    background-image: url(../img/background-alpha-mobile.webp),
      linear-gradient(90deg, #0078bd, #07b3d1, #ada270, #28c098, #0078bd);
    background-position: center center, 0 0;
    background-repeat: no-repeat, repeat;
    background-size: cover, 200% 200%;
    text-decoration: none;
    /* text-transform: uppercase; */
    color: lightgrey;
  }
  
  .item-listing {
    grid-area: listing;
    display: grid;
    grid-gap: 20px; /* Add spacing between the ship-cards */
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-evenly;
    box-shadow: inset 0 0 8px rgba(0, 126, 255, 0.35),
      0 0 5px rgba(0, 126, 255, 0.35);
    backdrop-filter: blur(5px);
    background: rgba(2, 21, 38, 0.65);
    background-color: #021526;
    border: 1px solid #1c598c;
    border-radius: 5px;
    height: fit-content;
  }
  
  .ship-card img {
    width: 100%;
  }
  
  .ship-card {
    /* background: rgba(2,21,38,0.65); */
    background-color: rgba(0, 126, 255, 0.2);
    border: 1px solid #1c598c;
    border-radius: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: 100%;
  }
  
  .ship-card .data {
    width: 100%;
    overflow-wrap: break-word;
  }
  
  .ship-card .data span {
    color: #bbe0ff;
    font-size: inherit;
  }
  
  .ui-menu-item {
    background-color: #207eca;
    border: 1px solid #ccc;
    color: #fff;
  }
  
  .blue-btn.active {
    background-color: rgba(0, 126, 255, 0.2);
    color: #fff;
  }

  .blue-btnfirst.active {
    background-color: rgba(0, 126, 255, 0.2);
    color: #fff;
  }

  .blue-btnmiddle.active {
    background-color: rgba(0, 126, 255, 0.2);
    color: #fff;
  }

  .blue-btnlast.active {
    background-color: rgba(0, 126, 255, 0.2);
    color: #fff;
  }
  
  .selected-tag {
    background-color: #207eca;
    color: #fff;
    display: inline-block;
    margin-right: 4px;
    padding: 4px 8px;
  }
  .ship-card .data.credits {
    color: #0ad448;
  }
  
.red-btn {
background:#b50000;
border:1px solid #1C598C;
border-radius:5px;
box-shadow:inset 0 0 8px rgba(0,126,255,0.35),0 0 5px rgba(0,126,255,0.35);
color:#00d3ff;
display:block;
float:left;
padding:9px;
position:relative;
text-decoration:none;
transition:background-color 150ms,color 150ms
}

.red-btn:hover {
background-color:rgba(0,126,255,0.2);
color:#fff
}
        
.red-btn:before {
border:2px solid rgba(0,52,102,0.25);
border-radius:5px;
box-sizing:border-box;
content:'';
display:block;
height:100%;
left:0;
position:absolute;
top:0;
width:100%
}

  .item-header {
    grid-area: header;
    margin: 0;
    display: flex;
    align-items: center;
    justify-self: auto;
    backdrop-filter: blur(5px);
    background: rgba(2, 21, 38, 0.65);
    background-color: #021526;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .item-header .item-right {
    margin: 0;
    display: flex;
    align-items: center;
    padding-right: 20px;
    flex-wrap: wrap;
    justify-content: inherit;
  }
  
  .item-header img {
    justify-self: left;
  }
  
  .blue-btn {
    background: linear-gradient(
      180deg,
      rgba(30, 56, 81, 0.25) 2%,
      rgba(18, 76, 128, 0.25) 98%
    );
    border: 1px solid #1c598c;
    border-radius: 5px;
    box-shadow: inset 0 0 8px rgba(0, 126, 255, 0.35),
      0 0 5px rgba(0, 126, 255, 0.35);
    color: #00d3ff;
    display: block;
    float: left;
    padding: 10px;
    position: relative;
    text-decoration: none;
    transition: background-color 150ms, color 150ms;
  }

  .blue-btn:hover {
    background-color: rgba(0, 126, 255, 0.2);
    color: #fff;
  }

  .blue-btnfirst:hover {
    background-color: rgba(0, 126, 255, 0.2);
    color: #fff;
  }

  .blue-btnmiddle:hover {
    background-color: rgba(0, 126, 255, 0.2);
    color: #fff;
  }

  .blue-btnlast:hover {
    background-color: rgba(0, 126, 255, 0.2);
    color: #fff;
  }
  
  .blue-btn:before {
    border: 2px solid rgba(0, 52, 102, 0.25);
    border-radius: 5px;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  


  .blue-btnfirst:before {
    border: 2px solid rgba(0, 52, 102, 0.25);
    box-sizing: border-box;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  .blue-btnmiddle:before {
    border: 2px solid rgba(0, 52, 102, 0.25);
    box-sizing: border-box;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .blue-btnlast:before {
    border: 2px solid rgba(0, 52, 102, 0.25);
    box-sizing: border-box;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .blue-btnfirst {
    background: linear-gradient(
      180deg,
      rgba(30, 56, 81, 0.25) 2%,
      rgba(18, 76, 128, 0.25) 98%
    );
    border: 1px solid #1c598c;
    box-shadow: inset 0 0 8px rgba(0, 126, 255, 0.35),
      0 0 5px rgba(0, 126, 255, 0.35);
    color: #00d3ff;
    display: block;
    float: left;
    padding: 10px;
    position: relative;
    text-decoration: none;
    transition: background-color 150ms, color 150ms;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }

  .blue-btnmiddle {
    background: linear-gradient(
      180deg,
      rgba(30, 56, 81, 0.25) 2%,
      rgba(18, 76, 128, 0.25) 98%
    );
    border: 1px solid #1c598c;
    box-shadow: inset 0 0 8px rgba(0, 126, 255, 0.35),
      0 0 5px rgba(0, 126, 255, 0.35);
    color: #00d3ff;
    display: block;
    float: left;
    padding: 10px;
    position: relative;
    text-decoration: none;
    transition: background-color 150ms, color 150ms;
  }

  .blue-btnlast {
    background: linear-gradient(
      180deg,
      rgba(30, 56, 81, 0.25) 2%,
      rgba(18, 76, 128, 0.25) 98%
    );
    border: 1px solid #1c598c;
    box-shadow: inset 0 0 8px rgba(0, 126, 255, 0.35),
      0 0 5px rgba(0, 126, 255, 0.35);
    color: #00d3ff;
    display: block;
    float: left;
    padding: 10px;
    position: relative;
    text-decoration: none;
    transition: background-color 150ms, color 150ms;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  


  .item-search {
    grid-area: search;
    background: rgba(2, 21, 38, 0.65);
    background-color: #021526;
    border: 1px solid #1c598c;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "intro intro intro"
    "author tag price"
    "button . order";
    width: auto;
  }
  
  .item-intro {
    grid-area: intro;
  }

  .item-author {
    grid-area: author;
  }
  .item-tag {
    grid-area: tag;
  }
  .item-price {
    grid-area: price;
    margin: auto;
    text-align: center;
  }
  .item-button {
    grid-area: button;
  }
  .item-order {
    grid-area: order;
    display: inline-flex;
  }

  .tag-suggestions {
    margin-left: 46%;
    position: relative;
  }
  
  .tag-suggestions ul {
    background-color: #207eca;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    width: 50%;
    z-index: 1;
  }
  
  .tag-suggestions li {
    cursor: pointer;
    padding: 8px 12px;
  }
  
  .tag-suggestions li:hover {
    background-color: #4766f0;
  }
  
  .tag-container {
    display: flex;
    margin-top: 8px;
  }
  
  .tag-box {
    background-color: #1c598c;
    border-radius: 4px;
    display: inline-block;
    margin-right: 8px;
    padding: 8px;
  }
  
  .excluded-tag {
    background-color: #e53e3e;
    color: #fff;
    display: inline-block;
    margin-right: 4px;
    padding: 4px 8px;
  }
  
  input#tag-input {
    color: #fff;
    margin: 5px;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: 0.4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 0.8rem;
    padding: 0.6rem 0rem 0.7rem;
    width: clamp(100px, 90%, 90%);
  }
  
  input#min-price {
    background-color: #00008b;
    box-sizing: border-box;
    color: #fff;
    height: 30px;
    width: auto;
    color: #fff;
    margin: 5px;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: 0.4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 0.8rem;
    padding: 0.6rem 0rem 0.7rem;
    text-align: center;
    float: left;
  }
  #price-slider {
    background-color: #021526;
    display: inline-flex;
    width: 80%;
    margin-top: 5px;
  }
  
  input#max-price {
    background-color: #00008b;
    box-sizing: border-box;
    color: #fff;
    height: 30px;
    width: auto;
    color: #fff;
    margin: 5px;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: 0.4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 0.8rem;
    padding: 0.6rem 0rem 0.7rem;
    text-align: center;
    float: right;
  }
  
  input#authorinput {
    color: #fff;
    margin: 5px;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: 0.4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 0.8rem;
    padding: 0.6rem 0rem 0.7rem;
    width: clamp(100px, 90%, 90%);
  }
  
  .blur-load {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .blur-load img {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }
  
  .blur-load.loaded img {
    opacity: 1;
  }
  
  .item-footer {
    grid-area: footer;
    margin: 0;
    display: flex;
    align-items: center;
    backdrop-filter: blur(5px);
    background: rgba(2, 21, 38, 0.65);
    background-color: #021526;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
