<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
    <style>
        /* Style the CKEditor input area */
        .ck {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 10px;
            background-color: #021526;
            ;
            color: white;
        }

        .ck-content {

            border-radius: 4px;
            padding: 10px;
            background-color: #021526;
            ;
            color: white;
        }

        .ck-editor__editable {

            border-radius: 4px;
            padding: 10px;
            background-color: #021526;
            ;
            color: white;
        }

        .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {

            border-radius: 4px;
            padding: 10px;
            background-color: #021526;
            ;
            color: white;
        }

        .ck.ck-editor__main>.ck-editor__editable.ck-focused {

            border-radius: 4px;
            padding: 10px;
            background-color: #021526;
            ;
            color: white;
        }

        .ck-editor__editable_inline {

            border-radius: 4px;
            padding: 10px;
            background-color: #021526;
            ;
            color: white;
        }

        .ck-blurred {

            border-radius: 4px;
            padding: 10px;
            background-color: #021526;
            ;
            color: white;
        }

        .ck-editor__editable {
            border-radius: 4px;
            padding: 10px;
            background-color: #021526;
            ;
            color: white;

        }

        .ck.ck-editor__main p {
            border-radius: 4px;
            padding: 10px;
            background-color: #021526;
            ;
            color: white;

        }
    </style>
</head>

<body>
    <header>
        {% include "header.html" %}
    </header>

    <main>
        <h1>Ship Edit</h1>
        <section id="results" class="content-container">
            <div class="tabs-container">
                <form action="/edit/{{ image[0] }}" method="post" enctype="multipart/form-data">
                    <div id="elim-competitive-tab" class="tab active">
                        <a title="Replace image" class="blue-btn register" href="/update/{{ image[0] }}">
                            <span>Replace image</span>
                        </a>
                        {% set image_tags = image[10] | replace("[", "") | replace("]", "") | replace("'", "") |
                        replace(" ", "") %}
                        {% set image_tags_list = image_tags.split(",") %}
                        <ul class="ships-list">
                            <li class="ship-card">
                                <p>{{ image[1] }}</p>
                                <img src="{{ image[2] }}">
                                <div>
                                    <p>Thrust arrangements</p>
                                    <div>
                                        <input type="radio" name="thrust_type" id="bidirectional_thrust"
                                            value="bidirectional_thrust" {% if "bidirectional_thrust" in image_tags_list
                                            %}checked{% endif %}>
                                        <label for="bidirectional_thrust">Bidirectional Thrust</label>
                                    </div>
                                    <div>
                                        <input type="radio" name="thrust_type" id="mono_thrust" value="mono_thrust" {%
                                            if "mono_thrust" in image_tags_list %}checked{% endif %}>
                                        <label for="mono_thrust">Mono-Thrust</label>
                                    </div>
                                    <div>
                                        <input type="radio" name="thrust_type" id="multi_thrust" value="multi_thrust" {%
                                            if "multi_thrust" in image_tags_list %}checked{% endif %}>
                                        <label for="multi_thrust">Multi-Thrust</label>
                                    </div>
                                    <div>
                                        <input type="radio" name="thrust_type" id="omni_thrust" value="omni_thrust" {%
                                            if "omni_thrust" in image_tags_list %}checked{% endif %}>
                                        <label for="omni_thrust">Omni-Thrust</label>
                                    </div>
                                    <div>
                                        <input type="radio" name="thrust_type" id="no_thrust" value="no_thrust" {%
                                            if "no_thrust" in image_tags_list %}checked{% endif %}>
                                        <label for="no_thrust">No thrust</label>
                                    </div>
                                </div>
                            </li>
                            <li class="ship-card">
                                <p>Ship type</p>
                                <div>
                                    <input type="checkbox" name="kiter" id="kiter" {% if "kiter" in image_tags_list
                                        %}checked{% endif %}>
                                    <label for="kiter">kiter</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="diagonal" id="diagonal" {% if "diagonal" in
                                        image_tags_list %}checked{% endif %}>
                                    <label for="diagonal">Diagonal</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="avoider" id="avoider" {% if "avoider" in
                                        image_tags_list %}checked{% endif %}>
                                    <label for="avoider">avoider</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="mixed_weapons" id="mixed_weapons" {% if "mixed_weapons"
                                        in image_tags_list %}checked{% endif %}>
                                    <label for="mixed_weapons">Mixed Weapons</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="painted" id="painted" {% if "painted" in
                                        image_tags_list %}checked{% endif %}>
                                    <label for="painted">Painted</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="splitter" id="splitter" {% if "splitter" in
                                        image_tags_list %}checked{% endif %}>
                                    <label for="splitter">Splitter</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="utility_weapons" id="utility_weapons" {%
                                        if "utility_weapons" in image_tags_list %}checked{% endif %}>
                                    <label for="utility_weapons">Utility Weapons</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="rammer" id="rammer" {% if "rammer" in image_tags_list
                                        %}checked{% endif %}>
                                    <label for="rammer">rammer</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="orbiter" id="orbiter" {% if "orbiter" in
                                        image_tags_list %}checked{% endif %}>
                                    <label for="orbiter">orbiter</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="scout/racer" id="scout/racer" {% if "scout/racer" in
                                        image_tags_list %}checked{% endif %}>
                                    <label for="scout/racer">scout/racer</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="broadsider" id="broadsider" {% if "broadsider" in
                                        image_tags_list %}checked{% endif %}>
                                    <label for="broadsider">broadsider</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="waste_ship" id="waste_ship" {% if "waste_ship" in
                                        image_tags_list %}checked{% endif %}>
                                    <label for="waste_ship">waste ship</label>
                                </div>

                                <div>
                                    <input type="checkbox" name="sundiver" id="sundiver" {% if "sundiver" in
                                        image_tags_list %}checked{% endif %}>
                                    <label for="sundiver">sundiver</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="cargo_ship" id="cargo_ship" {% if "cargo_ship" in
                                        image_tags_list %}checked{% endif %}>
                                    <label for="cargo_ship">cargo ship</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="spinner" id="spinner" {% if "spinner" in
                                        image_tags_list %}checked{% endif %}>
                                    <label for="spinner">spinner</label>
                                </div>
                            </li>
                            <li class="ship-card">
                                <p>Defenses</p>
                                <div>
                                    <input type="radio" name="defense_type" id="armor_defenses" value="armor_defenses"
                                        {% if "armor_defenses" in image_tags_list %}checked{% endif %}"}>
                                    <label for="armor_defenses">Armor Defenses</label>
                                </div>
                                <div>
                                    <input type="radio" name="defense_type" id="mixed_defenses" value="mixed_defenses"
                                        {% if "mixed_defenses" in image_tags_list %}checked{% endif %}">
                                    <label for="mixed_defenses">Mixed Defenses</label>
                                </div>
                                <div>
                                    <input type="radio" name="defense_type" id="shield_defenses" value="shield_defenses"
                                        {% if "shield_defenses" in image_tags_list %}checked{% endif %}>
                                    <label for="shield_defenses">Shield Defenses</label>
                                </div>
                                <div>
                                    <input type="radio" name="defense_type" id="no_defenses" value="no_defenses" {%
                                        if "no_defenses" in image_tags_list %}checked{% endif %}>
                                    <label for="no_defenses">No Defenses</label>
                                </div>
                                <br>
                                <br>
                                <p>Game Mode</p>
                                <div>
                                    <input type="checkbox" name="campaign_ship" id="campaign_ship" {% if "campaign_ship"
                                        in image_tags_list %}checked{% endif %}>
                                    <label for="campaign_ship">Campaign ship</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="elimination_ship" id="elimination_ship" {%
                                        if "elimination_ship" in image_tags_list %}checked{% endif %}>
                                    <label for="elimination_ship">Elimination ship</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="domination_ship" id="domination_ship" {%
                                        if "domination_ship" in image_tags_list %}checked{% endif %}>
                                    <label for="domination_ship">Domination ship</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="debugging_tool" id="debugging_tool" {%
                                        if "debugging_tool" in image_tags_list %}checked{% endif %}>
                                    <label for="debugging_tool">debugging tool</label>
                                </div>
                            </li>
                            <li class="ship-card">
                                <!-- <table style="width:100%">
                                    <tr>
                                        <td> -->
                                <div>
                                    <button type="submit" class="blue-btn register">Valid
                                        modification</button>
                                </div>
                                <!-- </td>

                                        <td> -->
                                <div>
                                    <div {% if "gen" in brand %}style="display: none;" {% endif %}>
                                        <input type="checkbox" name="brand" id="exl" value="exl" {% if "exl" in brand
                                            %}checked{% endif %}>
                                        <label for="exl">Upload to Excelsior section</label>
                                    </div>
                                    <label for="author">Author:</label>
                                    <input type="text" name="author" id="author" value="{{ image[6] }}">
                                    <label for="ship_name">Ship name:</label>
                                    <input type="text" name="ship_name" id="ship_name" value="{{ image[5] }}">
                                    <label for="submitted_by">Submitted by (/!\ use Discord
                                        Username):</label>
                                    <input type="text" name="submitted_by" id="submitted_by" value="{{ image[3] }}">
                                </div>
                                <!-- </td>
                                    </tr>
                                    <tr>
                                        <td> -->
                                <div>
                                    <label for="price">Price :</label>
                                    <input type="text" name="price" id="price" pattern="[0-9]+" required
                                        value="{{ image[7] }}">
                                    <div class="form-group">
                                        <label for="description">Description:</label>
                                        <textarea name="description" id="description">{{ image[4] }}</textarea>
                                    </div>
                                    <input type="hidden" name="filename" id="filename" value="{{ image[1] }}">
                                    <input type="hidden" name="url_png" id="url_png" value="{{ image[2] }}">
                                    <input type="hidden" name="tags" id="tags" value="{{ tags }}">
                                    <input type="hidden" name="crew" id="crew" value="{{ crew }}">
                                </div>
                                <!-- </td>
                                    </tr>
                                </table> -->
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <footer>
        {% include "footer.html" %}
    </footer>
</body>

</html>

<style>
    .hidden-checkbox {
        display: none;
    }
</style>

<script>
    ClassicEditor
        .create(document.querySelector('#description'))
        .catch(error => {
            console.error(error);
        });

</script>