<!-- 100% privacy-first analytics -->
<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>

 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>CosmoShip : Cosmoteer Library</title>
 <meta name="description"
     content="Website for sharing, searching, browsing and downloading ships design for Cosmoteer: Starship Architect & Commander. It contains archive of ships blueprints.">
 <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
 <link rel="stylesheet" type="text/css" href="/static/css/interface.css">
 <link rel="stylesheet" type="text/css" href="/static/css/index.css">
 <script src="/static/js/common.js"></script>
