<script defer data-domain="cosmoship.hport.dev" src="https://stats.hport.dev/js/script.file-downloads.outbound-links.pageview-props.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>CosmoShip : Cosmoteer Library</title>
 <meta name="description"
     content="Website for sharing, searching, browsing and downloading ships design for Cosmoteer: Starship Architect & Commander. It contains archive of ships blueprints.">
 <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
 <link rel="stylesheet" type="text/css" href="/static/css/interface.css">
 <link rel="stylesheet" type="text/css" href="/static/css/index.css">
 <script src="/static/js/common.js"></script>