<!-- 100% privacy-first analytics -->
<script
 data-allow-params="cannon,deck_cannon,emp_missiles,flak_battery,he_missiles,large_cannon,mines,nukes,railgun,ammo_factory,emp_factory,he_factory,mine_factory,nuke_factory,disruptors,heavy_laser,ion_beam,ion_prism,laser,mining_laser,point_defense,boost_thruster,airlock,campaign_factories,explosive_charges,fire_extinguisher,no_fire_extinguishers,chaingun,large_reactor,large_shield,medium_reactor,sensor,small_hyperdrive,large_hyperdrive,rocket_thruster,small_reactor,small_shield,tractor_beams,hyperdrive_relay,bidirectional_thrust,mono_thrust,multi_thrust,omni_thrust,no_thrust,armor_defenses,mixed_defenses,shield_defenses,no_defenses,kiter,diagonal,avoider,mixed_weapons,painted,unpainted,splitter,utility_weapons,rammer,orbiter,campaign_ship,builtin,elimination_ship,domination_ship,scout/racer,broadsider,waste_ship,debugging_tool,sundiver,cargo_ship,spinner,order,max-crew,minprice,maxprice,page,desc,author,fulltext"
 async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>

 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>CosmoShip : Cosmoteer Library</title>
 <meta name="description"
     content="Website for sharing, searching, browsing and downloading ships design for Cosmoteer: Starship Architect & Commander. It contains archive of ships blueprints.">
 <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
 <link rel="stylesheet" type="text/css" href="/static/css/interface.css">
 <link rel="stylesheet" type="text/css" href="/static/css/index.css">
 <script src="/static/js/common.js"></script>
