<!DOCTYPE html>
<html lang="es">
<style>
.cssTable td 
{
    text-align: center; 
    vertical-align: middle;
}
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Demo Excelsior | Cosmoteer</title>
    <meta name="robots" content="noindex,nofollow">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="css/interface.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/index.js"></script>
</head>

<body>
    <header>
        <button id="menu-btn" class="menu-btn blue-btn" type="button"><span></span><span></span><span></span></button>
        <nav id="main-menu">
            <ul class="menu-links">
                <form action="/" method="post" enctype="multipart/form-data">
                       <table style="width:70%" class=".cssTable">
                          <tr>
                             <th scope="col">Item</th>
                             <th scope="col">Must have</th>
                             <th scope="col">Can have</th>
                             <th scope="col">Must NOT have</th>
                          </tr>
                            <tr>
                                <td><label for="cannon">Cannon:</label></td>
                                <td><input type="radio" name="cannon" id="cannon_must_have" value="must_have"></td>
                                <td><input type="radio" name="cannon" id="cannon_can_have" value="can_have" checked="yes"></td>
                                <td><input type="radio" name="cannon" id="cannon_must_not_have" value="must_not_have"></td>
                            </tr>
                            <tr>
                                <td><label for="deck_cannon">Deck Cannon:</label></td>
                                <td><input type="radio" name="deck_cannon" id="deck_cannon_must_have" value="must_have"></td>
                                <td><input type="radio" name="deck_cannon" id="deck_cannon_can_have" value="can_have" checked="yes"></td>
                                <td><input type="radio" name="deck_cannon" id="deck_cannon_must_not_have" value="must_not_have"></td>
                            </tr>
                            <tr>
                                <td><label for="emp_missiles">EMP Missiles:</label></td>
                                <td><input type="radio" name="emp_missiles" id="emp_missiles_must_have" value="must_have"></td>
                                <td><input type="radio" name="emp_missiles" id="emp_missiles_can_have" value="can_have" checked="yes"></td>
                                <td><input type="radio" name="emp_missiles" id="emp_missiles_must_not_have" value="must_not_have"></td>
                            </tr>
                        </table>
                        <button type="submit" class="blue-btn register" >Search</button>
                    </form>                  
            </ul>
        </nav>
        <img loading="lazy"alt="Excelsior logo" src="img/excelsior-logo.webp">
        <ul class="user-container">
            <li>
                <button id="login-btn" class="blue-btn login" type="button"><span>Log in</span></button>
                <form id="login-form" class="login-container" method="post" autocomplete="off">
                    <label>
                        Username
                        <input type="text">
                    </label>
                    <label>
                        Password
                        <input type="password">
                    </label>
                    <a title="Forgot your password?" href="#">Forgot your password?</a>
                    <div class="btn-container">
                        <button class="blue-btn" type="submit">Log in</button>
                    </div>
                </form>
            </li>
            <li><a title="Upload" class="blue-btn register" href="/upload"><span>Upload</span></a></li>
        </ul>
    </header>

    <main>
        <h1>Example title</h1>
        <section id="competitive" class="content-container">
            <div class="section-description">
                <h2>Competitive Ships</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="tabs-container">
                <div id="elim-competitive-tab" class="tab active">
                    <p>Praesent ut orci ipsum. Donec efficitur tincidunt aliquet. Nullam quis iaculis mi, eu convallis lorem. Aenean posuere in dui sit amet pellentesque.</p>
                    <ul class="ships-list">
                        
                        {% for image in images %}
                        <li class="ship-card">
                            <button type="button" class="stars" title="Give it a star">0</button>
                            <button type="button" class="likes" title="Like it">0</button>
                            <img loading="lazy" src="data:image/png;base64,{{ image[2] }}">
                            <div class="ship-data">
                                <span class="data"><span>Ship name:</span> {{ image[1] }}</span>
                                <span class="data"><span>Ship type:</span> {{ image[5] }}</span>
                                <span class="data credits"><span>Cost:</span> {{ image[4] }}₡</span>
                                <span class="data"><span>Creator:</span> <a title="See more ships made by Gaxxian" href="#">Gaxxian</a></span>
                            </div>
                            <div class="actions-container">
                                <a class="blue-btn" title="See the ship page" href="#"></a>
                                <button type="button" class="blue-btn download-btn" title="Download this ship" onclick="downloadShip('{{ image[2] }}', '{{ image[1] }}')"></button>
                            </div>
                        </li>
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <img loading="lazy"alt="Excelsior logo" src="img/excelsior-logo.webp">
            <ul>
                <li><a title="Cookies policy" href="#">Cookies policy</a></li>
                <li><a title="Another footer link" href="#">Another footer link</a></li>
                <li><a title="More footer links" href="#">More footer links</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>

<script>
function downloadShip(imageData, imageName) {
    // Convert the base64 image data to a Blob object
    var byteString = atob(imageData);
    var arrayBuffer = new ArrayBuffer(byteString.length);
    var uint8Array = new Uint8Array(arrayBuffer);
    for (var i = 0; i < byteString.length; i++) {
        uint8Array[i] = byteString.charCodeAt(i);
    }
    var blob = new Blob([arrayBuffer], { type: 'image/png' });

    // Create a temporary link element and trigger the download
    var link = document.createElement('a');
    link.href = URL.createObjectURL(blob);
    link.download = imageName + '.png';
    link.click();
}
</script>
