<!DOCTYPE html>

<html lang="es">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Excelsior | Cosmoteer Ship Library</title>
      <meta name="robots" content="noindex,nofollow">
      <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
      <link rel="stylesheet" type="text/css" {% if "exl" in brand %}href="/static/css/interface.css"{% else %}href="/static/css/interfacegen.css"{% endif %}>
      <link rel="stylesheet" type="text/css" href="/static/css/index.css">
      <link rel="stylesheet" type="text/css" href="/static/css/upload.css">
      <script src="/static/js/jquery-3.6.0.min.js"></script>
      <script src="/static/js/common.js"></script>
      <script src="/static/js/index.js"></script>
      <script defer src="/_vercel/insights/script.js"></script>
  </head>
   <body>
      <header>
         <div class="item-header">
             {% if "gen" in brand %}
             <a style="text-decoration: none;" title="home" href="/">
                 <span class="logo">Cosmoteer Ship Library</span>
             </a>
             {% else %}
             <a href="/"><img loading="lazy" alt="Excelsior logo" src="/static/img/excelsior-logo.webp"></a>
             {% endif %}
             <div class="item-right">
                 <p class="username">Welcome {{ user }}  </p>
                 {% if user == "Guest" %}
                 <a title="Login" class="blue-btn" href="/login?button=login">
                     <span>Login</span>
                 </a>
                 {% else %}
                 <a title="Logout" class="blue-btn" href="/logoff">
                     <span>Log out</span>
                 </a>
                 {% endif %}
                 <a title="Upload" class="blue-btn" href="/login?button=upload">
                     <span>Upload</span>
                 </a>
                 <a title="Myfavorite" class="blue-btn" href="/login?button=myfavorite">
                     <span>My favorite</span>
                 </a>
                 <a title="Myships" class="blue-btn" href="/login?button=myships">
                     <span>My Ships</span>
                 </a>
                 <a title="Home" class="blue-btn" href="/">
                     <span>Home</span>
                 </a>

                 {% if "gen" in brand %}
                 <a title="Excelsior library" class="blue-btn" href="/exl">
                  <span>Excelsior library</span>
                 </a>
                 {% else %}
                 <a title="General library" class="blue-btn" href="/gen">
                     <span>General library</span>
                 </a>
                 {% endif %}
             </div>
         </div>
     </header>
      <main>
         <h1>Upload your ship !</h1>
         <section id="competitive" class="content-container">
            <div class="section-description">
               <h2>Share your ships with the community</h2>
               <p>All ships posted are under the CC BY 4.0 unless stated otherwise in the description</p>
            </div>
            <div class="tabs-container">
               <div id="elim-competitive-tab" class="tab active">
                  
                  <ul>
                     <h1>Ship Upload</h1>
                     <form action="/initupload" method="post" enctype="multipart/form-data">
                        <ul>
                           <input type="file" name="file" accept=".png" required>
                           <button type="submit" class="blue-btn register" >Next</button>
                        </ul>
                     </form>  
                  </ul>
               </div>
            </div>
         </section>
      </main>
      <footer style="
      margin-top: 208px;
  ">
         <div class="item-footer" >
            {% if "gen" in brand %}
            <a style="text-decoration: none;" title="home" href="/">
                <span class="logo">Cosmoteer Ship Library</span>
            </a>
            {% else %}
            <a href="/"><img loading="lazy" alt="Excelsior logo" src="/static/img/excelsior-logo.webp"></a>
            {% endif %}
                 <a class="blue-btn" title="Source code" href="https://github.com/franklin050187/cosmo">Source code</a>
                 <a class="blue-btn" title="Issues" href="https://github.com/franklin050187/cosmo/issues">Issues</a>
                 <a class="blue-btn" title="Support us" href="#">Support us</a>
         </div>
     </footer>
   </body>
</html>
<script>
   function redirectToHomePage() {
     window.location.href = "/";
   }
 </script>