<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
</head>

<body>
    <header>
        {% include "header.html" %}
    </header>

    <main>
        <h1 id="title" style="overflow: hidden; text-overflow: ellipsis;">About the game - Cosmoteer: Starship Architect
            & Commander</h1>
        <section id="results" class="content-container">
            <div class="tabs-container">
                <div id="elim-competitive-tab" class="tab active">
                    <h2>Check the official website : <a href="https://cosmoteer.net/">Here</a></h2>
                    <ul class="ships-list" style="grid-template-columns: repeat(1, 1fr);">
                        <li class="ship-card">
                            <h2>The game</h2>
                            <h3>Create and simulate the starship of your dreams! Take command in epic battles, manage
                                your crew, and explore a perilous galaxy. Play solo or with friends, test your ship in
                                online PvP, and let your imagination soar to the stars!</h3>
                            <h2>Design starship</h2>
                            <h3>Design incredible starships with intuitive creation tools that are easy to learn yet
                                challenging to master. Fully customize your ship's shape and layout, placing individual
                                modules like weapons, engines, hallways, and crew quarters wherever you choose. Your
                                ship's design is crucial to its survival, and every decision will affect its performance
                                in battle. Easily share your creations with others through the Steam Workshop, forums,
                                and Discord.</h3>
                            <h2>Real-time tactical battles</h2>
                            <h3>Command your ship or fleet in real-time tactical battles. Experience physics-driven,
                                explosive, and immensely satisfying combat. Each module can be individually targeted and
                                destroyed, with entire ships capable of breaking apart into multiple pieces. Disable an
                                enemy's weapons to nullify its attack, destroy its shields to weaken its defenses, or
                                deliver a decisive blow by taking out its reactor.</h3>
                        </li>
                    </ul>
                    <ul class="ships-list" style="grid-template-columns: repeat(1, 1fr);">
                        <li class="ship-card">
                            <h2>Links :</h2>
                            <h3><a href="https://cosmoteer.net/">Official website</a></h3>
                            <h3><a href="https://discord.gg/cosmoteer">Official Discord</a></h3>
                            <h3><a href="https://store.steampowered.com/app/799600/Cosmoteer_Starship_Architect__Commander/">Official Steam page</h3>
                            <h3><a href="https://cosmoteer.wiki.gg/wiki/Cosmoteer_Wiki">Official Wiki</h3>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <footer>
        {% include "footer.html" %}
    </footer>
</body>

</html>