<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>General | Cosmoteer Ship Library</title>
        <meta name="robots" content="noindex,nofollow">
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" type="text/css" {% if "exl" in brand %}href="/static/css/v2.css"{% else %}href="/static/css/general.css"{% endif %}>
        <script defer src="/_vercel/insights/script.js"></script>
    </head>
    <body class="site-container">
        {% if "exl" in brand %}
        <div class="item-header">
            <a href="/"><img loading="lazy" alt="Excelsior logo" src="/static/img/excelsior-logo.webp"></a>
            <div class="item-right">
                <span class="info-icon" title="Tags"></span>
                <p class="username">Welcome {{ user }}  </p>
                {% if user == "Guest" %}
                <a title="Login" class="blue-btn" href="/login?button=login">
                    <span>Login</span>
                </a>
                {% else %}
                <a title="Logout" class="blue-btn" href="/logoff">
                    <span>Log out</span>
                </a>
                {% endif %}
                <a title="Upload" class="blue-btn" href="/login?button=upload">
                    <span>Upload</span>
                </a>
                <a title="Myfavorite" class="blue-btn" href="/login?button=myfavorite">
                    <span>My favorite</span>
                </a>
                <a title="Myships" class="blue-btn" href="/login?button=myships">
                    <span>My Ships</span>
                </a>
                <a title="Home" class="blue-btn" href="/">
                    <span>Home</span>
                </a>
                <a title="General library" class="blue-btn" href="/gen">
                    <span>General library</span>
                </a>
            </div>
        </div>
        {% else %}
        <div class="item-header">
            <a style="text-decoration: none;" title="home" href="/">
                <span class="logo">Cosmoteer Ship Library</span>
            </a>
            <div class="item-right">
                <span class="info-icon" title="Tags"></span>
                <p class="username">Welcome {{ user }}  </p>
                {% if user == "Guest" %}
                <a title="Login" class="blue-btn" href="/login?button=login">
                    <span>Login</span>
                </a>
                {% else %}
                <a title="Logout" class="blue-btn" href="/logoff">
                    <span>Log out</span>
                </a>
                {% endif %}
                <a title="Upload" class="blue-btn" href="/login?button=upload">
                    <span>Upload</span>
                </a>

                <a title="Myfavorite" class="blue-btn" href="/login?button=myfavorite">
                    <span>My favorite</span>
                </a>
                <a title="Myships" class="blue-btn" href="/login?button=myships">
                    <span>My Ships</span>
                </a>
                <a title="Home" class="blue-btn" href="/">
                    <span>Home</span>
                </a>
                <a title="Excelsior library" class="blue-btn" href="/exl">
                    <span>Excelsior library</span>
                </a>
            </div>
        </div>
        {% endif %}
        <div class="item-search">
            <div class="intro" style="
            background-color: rgb(2 21 38);
        ">
                    <img loading="lazy" src="{{ url_png }}" width="512" height="512">
                    {% if "url_com" in datadata %}
                    <img loading="lazy" src="{{datadata.url_com}}" width="512">
                    <img loading="lazy" src="{{datadata.analysis.url_analysis}}" width="512">
                    {% else %}
                    <ul><a title="Show stats" class="blue-btn register" href="/ship/{{ image[0][0] }}?analyze=1"><span>Show stats</span></a></ul>
                    {% endif %}
            </div>
            <div class="author ship-card">
                <h2>Ship name : {{ image[0][5] }}</h2>
                {% if "exl" in image[0][12] and "gen" in brand %}
                <p>WARNING : This ship is from the Excelsior library, it requires piloting skills.</p>
                {% endif %}
                <p>Author : {{ image[0][6] }}</p>
                <p>Ship description : {{ image[0][4] | safe}}</p>
                <p></p>
                <p><span class="data credits"><span>Cost:</span> {{ image[0][7] }}₡</span>
                </p>
                <p>
                <span class="data"><span>Crew : {{ image[0][13] }} 웃</span></span>
                </p>
                <P class="data"><span>Popularity :</span> {{ image[0][8] }}</P>
                <P class="data"><span>Date of submission :</span> {{ image[0][9] }}</P>
                <p></p>
                {% if "url_com" in datadata %}
                <P class="data"><span>Mass :</span> {{ datadata.total_mass }}</P>
                <P class="data"><span>Top speed : </span> {{ datadata.top_speed }}</P>
                <P class="data"><span>center_of_mass_x : </span><span class="number" style="color: white;">{{ datadata.center_of_mass_x }}</span></P>
                <P class="data"><span>center_of_mass_y : </span><span class="number" style="color: white;">{{ datadata.center_of_mass_y }}</span></P>
                <P class="data"><span>Speed NW : </span><span class="number" style="color: white;">{{ datadata.all_direction_speeds.NW }}</span></P>
                <P class="data"><span>Speed NE : </span><span class="number" style="color: white;">{{ datadata.all_direction_speeds.NE }}</span></P>
                <P class="data"><span>Speed SW : </span><span class="number" style="color: white;">{{ datadata.all_direction_speeds.SW }}</span></P>
                <P class="data"><span>Speed SE : </span><span class="number" style="color: white;">{{ datadata.all_direction_speeds.SE }}</span></P>
                <P class="data"><span>Speed S : </span><span class="number" style="color: white;">{{ datadata.all_direction_speeds.S }}</span></P>
                <P class="data"><span>Speed N : </span><span class="number" style="color: white;">{{ datadata.all_direction_speeds.N }}</span></P>
                <P class="data"><span>Speed E : </span><span class="number" style="color: white;">{{ datadata.all_direction_speeds.E }}</span></P>
                <P class="data"><span>Speed W : </span><span class="number" style="color: white;">{{ datadata.all_direction_speeds.W }}</span></P>
                <P class="data"><span>Price for crew: </span><span class="number" style="color: white;">{{ datadata.analysis.price_crew.percent * 100 }}</span><span>% | {{ datadata.analysis.price_crew.price }} ₡</span></P>
                <P class="data"><span>Price for weapons: </span><span class="number" style="color: white;">{{ datadata.analysis.price_weapons.percent * 100 }}</span><span>% | {{ datadata.analysis.price_weapons.price }} ₡</span></P>
                <P class="data"><span>Price for armor: </span><span class="number" style="color: white;">{{ datadata.analysis.price_armor.percent * 100 }}</span><span>% | {{ datadata.analysis.price_armor.price }} ₡</span></P>
                <P class="data"><span>Price for movement: </span><span class="number" style="color: white;">{{ datadata.analysis.price_mouvement.percent * 100 }}</span><span>% | {{ datadata.analysis.price_mouvement.price }} ₡</span></P>
                <P class="data"><span>Price for power: </span><span class="number" style="color: white;">{{ datadata.analysis.price_power.percent * 100 }}</span><span>% | {{ datadata.analysis.price_power.price }} ₡</span></P>
                <P class="data"><span>Price for shield: </span><span class="number" style="color: white;">{{ datadata.analysis.price_shield.percent * 100 }}</span><span>% | {{ datadata.analysis.price_shield.price }} ₡</span></P>
                <P class="data"><span>Price for storage: </span><span class="number" style="color: white;">{{ datadata.analysis.price_storage.percent * 100 }}</span><span>% | {{ datadata.analysis.price_storage.price }} ₡</span></P>
                <P class="data"><span>Price for utility: </span><span class="number" style="color: white;">{{ datadata.analysis.price_utility.percent * 100 }}</span><span>% | {{ datadata.analysis.price_utility.price }} ₡</span></P>
                <p></p>
                {% endif %}
                <p class="data" style="font-size: 12px;">Submitted by : {{ image[0][3] }}</p>
                {% if user == "Guest" %}
                <ul><a title="Favorite" class="blue-btn register" href="/login?button=myfavorite"><span>Login to add favorite</span></a></ul>
                {% endif %} {% if fav == 1 %}
                <ul><a title="Favorite" class="blue-btn register" href="/rmfavorite/{{ image[0][0] }}"><span>Remove from favorite</span></a></ul>
                {% else %}
                <ul><a title="Favorite" class="blue-btn register" href="/favorite/{{ image[0][0] }}"><span>Add to favorite</span></a></ul>
                {% endif %}
            </div>
            <div class="tag ship-card">
                <ul class="ships-list">
                    <span class="data">
                        <span>Ship tags:</span>
                            {% set image_tags = image[0][10] | replace("[", "") | replace("]", "") | replace("'", "") | replace(" ", "") %} {% set image_tags_list = image_tags.split(",") %} {% for tag in image_tags_list %}
                            <li style="list-style: none;"><span class="selected-tag">{{ tag }}</span></li>
                            {% endfor %}
                    </span>
                    <ul><a title="Edit" class="blue-btn register" onclick="downloadShip('{{ image[0][0] }}')"><span>Download</span></a></ul>
                    {% if user == image[0][3] or user in modlist %}
                    <ul><a title="Edit" class="blue-btn register" href="/edit/{{ image[0][0] }}"><span>Edit</span></a></ul>
                    <ul><a title="Delete" class="red-btn register" href="/delete/{{ image[0][0] }}"><span>Delete</span></a></ul>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="item-listing">
        </div>
        <div class="item-footer">
            {% if "gen" in brand %}
            <a style="text-decoration: none;" title="home" href="/">
                <span class="logo">Cosmoteer Ship Library</span>
            </a>
            {% else %}
            <a href="/"><img loading="lazy" alt="Excelsior logo" src="/static/img/excelsior-logo.webp"></a>
            {% endif %}
            <a class="blue-btn" title="Source code" href="https://github.com/franklin050187/cosmo">Source code</a>
            <a class="blue-btn" title="Issues" href="https://github.com/franklin050187/cosmo/issues">Issues</a>
            <a class="blue-btn" title="Support us" href="#">Support us</a>
        </div>
    </body>
</html>
<script>
    function downloadShip(imageUrl) {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/download/" + imageUrl, true);
        xhr.responseType = "blob"; // Set the response type to 'blob' to handle binary data
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            // Create a temporary link element to download the file
            var link = document.createElement("a");
            link.href = window.URL.createObjectURL(xhr.response);
            link.download = xhr.getResponseHeader("Content-Disposition").split("filename=")[1];
            link.click();
          }
        };
        xhr.send();
      }

    // Get all the submission number elements
    var numberElements = document.querySelectorAll('.number');

    // Loop through each element
    numberElements.forEach(function(element) {
    // Get the number string
    var decimalnumber = element.textContent;

    // convert to float decimal number
    var number = parseFloat(decimalnumber);

    // show only 2 decimal places
    var formattedNumber = number.toFixed(2);

    // Update the submission date element with the formatted date
    element.textContent = formattedNumber;
    });
</script>

 




