<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Excelsior | Cosmoteer Ship Library</title>
    <meta name="robots" content="noindex,nofollow">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/interface.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script defer src="/_vercel/insights/script.js"></script>
    
</head>

<body>
    <header>
        <a href="/"><img loading="lazy" alt="Excelsior logo" src="/static/img/excelsior-logo.webp"></a>
        <ul class="user-container">
            <p class="username">Welcome {{ user }}</p>
                <li>
                    {% if user == "Guest" %}
                    <a title="Login" class="blue-btn register" href="/login?button=login">
                        <span>Login</span>
                    </a>
                    {% else %}
                    <a title="Logout" class="blue-btn register" href="/logoff">
                        <span>Log out</span>
                    </a>
                    {% endif %}
                </li>
                <li>
                    <a title="Upload" class="blue-btn register" href="/login?button=upload">
                        <span>Upload</span>
                    </a>
                </li>
                <li>
                </li>
                <li>
                    <a title="Myships" class="blue-btn register" href="/login?button=myships">
                        <span>My Ships</span>
                    </a>
                </li>
                <li>
                    <a title="Myfavorite" class="blue-btn register" href="/login?button=myfavorite">
                        <span>My favorite</span>
                    </a>
                </li>
                <li>
                    <a title="Home" class="blue-btn register" href="/">
                        <span>Home</span>
                    </a>
                </li>
        </ul>
    </header>

    <main>
        <h1>Excelsior Ship Library</h1>
        <section id="competitive" class="content-container">
            <div class="section-description">
                <h2>Ship name : {{ image[0][5] }}</h2>
                <div class="search-container">
                    <p>Author : {{ image[0][6] }}</p>
                    <p>Ship description : {{ image[0][4] }}</p>
                    <p></p>
                    <p><span class="data credits"><span>Cost:</span> {{ image[0][7] }}₡</span></p>
                    <P class="data" ><span>Popularity :</span> {{ image[0][8] }}</P>
                    <P class="data" ><span>Date of submission :</span> {{ image[0][9] }}</P>
                    <p></p>
                    <p class="data" style="font-size: 12px;">Submitted by : {{ image[0][3] }}</p>

                    {% if user == "Guest" %}
                    <ul><a title="Favorite" class="blue-btn register" href="/login?button=myfavorite"><span>Login to add favorite</span></a></ul>
                    {% endif %}
                    {% if fav == 1 %}
                    <ul><a title="Favorite" class="blue-btn register" href="/rmfavorite/{{ image[0][0] }}"><span>Remove from favorite</span></a></ul>
                    {% else %}
                    <ul><a title="Favorite" class="blue-btn register" href="/favorite/{{ image[0][0] }}"><span>Add to favorite</span></a></ul>
                    {% endif %}
                </div>
            </div>
            <div class="tabs-container">
                <button id="elim-competitive-btn" class="active blue-btn" type="button">Ships</button>

                <div id="elim-competitive-tab" class="tab active">
                    
                    <ul class="ships-list">
                        

                       
                        <span class="data">
                            <span>Ship tags:</span>
                            <ul>
                                {% set image_tags = image[0][10] | replace("[", "") | replace("]", "") | replace("'", "") | replace(" ", "") %}
                                {% set image_tags_list = image_tags.split(",") %}
                                {% for tag in image_tags_list %}

                                <li><span class="selected-tag">{{ tag }}</span></li>

                                {% endfor %}
                            </ul>
                        </span>
                        <li>
                            <img loading="lazy" src="{{ url_png }}" width="512" height="512">
                        </li>
                        <ul><a title="Edit" class="blue-btn register" onclick="downloadShip('{{ image[0][0] }}')"><span>Download</span></a></ul>
                        {% if user == image[0][3] or user in modlist %}
                            <ul><a title="Edit" class="blue-btn register" href="/edit/{{ image[0][0] }}"><span>Edit</span></a></ul>
                            <ul><a title="Delete" class="red-btn register" href="/delete/{{ image[0][0] }}"><span>Delete</span></a></ul>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <img loading="lazy"alt="Excelsior logo" src="img/excelsior-logo.webp">
            <ul>
                <li><a title="Cookies policy" href="#">Cookies policy</a></li>
                <li><a title="Another footer link" href="#">Another footer link</a></li>
                <li><a title="More footer links" href="#">More footer links</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>

<script src="/static/js/search.js"></script>
<script>
    function redirectToHomePage() {
      window.location.href = "/";
    }
</script>