<!DOCTYPE html>
<style>
   .form-container {
   display: flex;
   justify-content: space-between;
   }
   .form-list {
   list-style: none;
   padding: 0;
   margin: 0;
   }
   .form-table {
   display: table;
   width: 100%;
   }
   .form-table-row {
   display: table-row;
   }
   .form-table-cell {
   display: table-cell;
   width: 100%; /* Adjust the width as needed */
   padding-right: 20px; /* Adjust the spacing between cells as needed */
   
   }
   td {
      vertical-align: top;
    }

    input#price {
        background-color: darkblue;
        color: white;
    }
    input#description {
      background-color: darkblue;
      color: white;
  }
  input#submitted_by {
   background-color: darkblue;
   color: white;
}
input#ship_name {
   background-color: darkblue;
   color: white;
}
input#author {
   background-color: darkblue;
   color: white;
}

</style>
<html lang="es">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Demo Excelsior | Cosmoteer</title>
      <meta name="robots" content="noindex,nofollow">
      <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
      <link rel="stylesheet" type="text/css" href="css/interface.css">
      <link rel="stylesheet" type="text/css" href="css/index.css">
      <script src="js/jquery-3.6.0.min.js"></script>
      <script src="js/common.js"></script>
      <script src="js/index.js"></script>
   </head>
   <body>
      <header>
         <button id="menu-btn" class="menu-btn blue-btn" type="button" onclick="redirectToHomePage()"><span></span><span></span><span></span></button>
         <img loading="lazy"alt="Excelsior logo" src="img/excelsior-logo.webp"  href="/">
      </header>
      <main>
         <h1>Upload your ship !</h1>
         <section id="competitive" class="content-container">
            <div class="section-description">
               <h2>Share your ships with the community</h2>
               <p>Pick tags your ship has in order to help the community to find your creation !</p>
               <p>To go back click on the hamburger menu on the top left.</p>
            </div>
            <div class="tabs-container">
               <div id="elim-competitive-tab" class="tab active">
                  
                  <ul>
                     <h1>Ship Upload</h1>
                     <form action="/upload/" method="post" enctype="multipart/form-data">
                        <table style="width:100%">
                           <tr>
                              <th scope="col">ammunition weapons</th>
                              <th scope="col">combat factories</th>
                              <th scope="col">energy weapons</th>
                              <th scope="col">Misc part</th>
                              <th scope="col">Thrust arrangements</th>
                              <th scope="col">Defenses</th>
                              <th scope="col">Misc</th>
                           </tr>
                           <tr>
                              <td>
                              </ul>
                              <ul><label for="cannon">Cannon:</label>
                                 <input type="checkbox" name="cannon" id="cannon"></ul>
                                 <ul>
                                    <label for="deck_cannon">Deck Cannon:</label>
                                    <input type="checkbox" name="deck_cannon" id="deck_cannon"></ul>
                                    <ul>
                                       <label for="emp_missiles">EMP Missiles:</label>
                                       <input type="checkbox" name="emp_missiles" id="emp_missiles"></ul>
                                       <ul>
                                          <label for="flak_battery">Flak Battery:</label>
                                          <input type="checkbox" name="flak_battery" id="flak_battery"></ul>
                                          <ul>
                                             <label for="he_missiles">HE Missiles:</label>
                                             <input type="checkbox" name="he_missiles" id="he_missiles"></ul>
                                             <ul>
                                                <label for="large_cannon">Large Cannon:</label>
                                                <input type="checkbox" name="large_cannon" id="large_cannon"></ul>
                                                <ul>
                                                   <label for="mines">Mines:</label>
                                                   <input type="checkbox" name="mines" id="mines"></ul>
                                                   <ul>
                                                      <label for="nukes">Nukes:</label>
                                                      <input type="checkbox" name="nukes" id="nukes"></ul>
                                                      <ul>
                                                         <label for="railgun">Railgun:</label>
                                                         <input type="checkbox" name="railgun" id="railgun"></ul>
                                                      </td>
                                                      <td>
                                                         <ul>
                                                            <label for="ammo_factory">Ammo Factory:</label>
                                                            <input type="checkbox" name="ammo_factory" id="ammo_factory">
                                                         </ul>
                                                            <ul>
                                                               <label for="emp_factory">EMP Factory:</label>
                                                               <input type="checkbox" name="emp_factory" id="emp_factory">
                                                            </ul>
                                                               <ul>
                                                                  <label for="he_factory">HE Factory:</label>
                                                                  <input type="checkbox" name="he_factory" id="he_factory">
                                                               </ul>
                                                                  <ul>
                                                                     <label for="mine_factory">Mine Factory:</label>
                                                                     <input type="checkbox" name="mine_factory" id="mine_factory">
                                                                  </ul>
                                                                     <ul>
                                                                        <label for="nuke_factory">Nuke Factory:</label>
                                                                        <input type="checkbox" name="nuke_factory" id="nuke_factory">
                                                                     </ul>
                                                      </td>
                                                                     <td>
                                                                        <ul>
                                                                           <label for="disruptors">Disruptors:</label>
                                                                           <input type="checkbox" name="disruptors" id="disruptors">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="heavy_laser">Heavy Laser:</label>
                                                                           <input type="checkbox" name="heavy_laser" id="heavy_laser">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="ion_beam">Ion Beam:</label>
                                                                           <input type="checkbox" name="ion_beam" id="ion_beam">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="ion_Prism">Ion Prism:</label>
                                                                           <input type="checkbox" name="ion_prism" id="ion_prism">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="laser">Laser:</label>
                                                                           <input type="checkbox" name="laser" id="laser">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="mining_laser">Mining Laser:</label>
                                                                           <input type="checkbox" name="mining_laser" id="mining_laser">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="point_Defense">Point Defense:</label>
                                                                           <input type="checkbox" name="point_defense" id="point_defense">
                                                                        </ul>
                                                                     </td>
                                                                     <td>
                                                                        <ul>
                                                                           <label for="boost_thruster">Boost Thruster:</label>
                                                                           <input type="checkbox" name="boost_thruster" id="boost_thruster">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="airlock">Airlock:</label>
                                                                           <input type="checkbox" name="airlock" id="airlock">
                                                                        </ul>
                                                                        
                                                                        <ul>
                                                                           <label for="campaign_factories">Campaign Factories</label>
                                                                           <input type="checkbox" name="campaign_factories" id="campaign_factories">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="explosive_charges">Explosive Charges</label>
                                                                           <input type="checkbox" name="explosive_charges" id="explosive_charges">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="fire_extinguisher">Fire Extinguisher</label>
                                                                           <input type="checkbox" name="fire_extinguisher" id="fire_extinguisher">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="no_fire_extinguishers">No Fire Extinguishers</label>
                                                                           <input type="checkbox" name="no_fire_extinguishers" id="no_fire_extinguishers">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="large_reactor">Large Reactor</label>
                                                                           <input type="checkbox" name="large_reactor" id="large_reactor">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="large_shield">Large Shield</label>
                                                                           <input type="checkbox" name="large_shield" id="large_shield">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="medium_reactor">Medium Reactor</label>
                                                                           <input type="checkbox" name="medium_reactor" id="medium_reactor">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="sensor">Sensor</label>
                                                                           <input type="checkbox" name="sensor" id="sensor">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="small_hyperdrive">Small Hyperdrive</label>
                                                                           <input type="checkbox" name="small_hyperdrive" id="small_hyperdrive">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="small_reactor">Small Reactor</label>
                                                                           <input type="checkbox" name="small_reactor" id="small_reactor">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="small_shield">Small Shield</label>
                                                                           <input type="checkbox" name="small_shield" id="small_shield">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="tractor_beams">Tractor Beams</label>
                                                                           <input type="checkbox" name="tractor_beams" id="tractor_beams">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="hyperdrive_relay">Hyperdrive Relay</label>
                                                                           <input type="checkbox" name="hyperdrive_relay" id="hyperdrive_relay">
                                                                        </ul>
                                                                        
                                                                        
                                                                        
                                                                     </td>
                                                                     <td>
                                                                        <ul>
                                                                           <label for="bidirectional_thrust">Bidirectional Thrust</label>
                                                                           <input type="checkbox" name="bidirectional_thrust" id="bidirectional_thrust">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="mono_thrust">Mono-Thrust</label>
                                                                           <input type="checkbox" name="mono_thrust" id="mono_thrust">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="multi_thrust">Multi-Thrust</label>
                                                                           <input type="checkbox" name="multi_thrust" id="multi_thrust">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="omni_thrust">Omni-Thrust</label>
                                                                           <input type="checkbox" name="omni_thrust" id="omni_thrust">
                                                                        </ul>
                                                                        
                                                                     </td>
                                                                     <td>
                                                                        <ul>
                                                                           <label for="armor_defenses">Armor Defenses</label>
                                                                           <input type="checkbox" name="armor_defenses" id="armor_defenses">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="mixed_defenses">Mixed Defenses</label>
                                                                           <input type="checkbox" name="mixed_defenses" id="mixed_defenses">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="shield_defenses">Shield Defenses</label>
                                                                           <input type="checkbox" name="shield_defenses" id="shield_defenses">
                                                                        </ul>
                                                                     </td>
                                                                     <td>
                                                                        <ul>
                                                                           <label for="corvette">Corvette</label>
                                                                           <input type="checkbox" name="corvette" id="corvette">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="diagonal">Diagonal</label>
                                                                           <input type="checkbox" name="diagonal" id="diagonal">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="flanker">Flanker</label>
                                                                           <input type="checkbox" name="flanker" id="flanker">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="mixed_weapons">Mixed Weapons</label>
                                                                           <input type="checkbox" name="mixed_weapons" id="mixed_weapons">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="painted">Painted</label>
                                                                           <input type="checkbox" name="painted" id="painted">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="unpainted">Unpainted</label>
                                                                           <input type="checkbox" name="unpainted" id="unpainted">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="splitter">Splitter</label>
                                                                           <input type="checkbox" name="splitter" id="splitter">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="utility_weapons">Utility Weapons</label>
                                                                           <input type="checkbox" name="utility_weapons" id="utility_weapons">
                                                                        </ul>
                                                                        <ul>
                                                                           <label for="transformer">Transformer</label>
                                                                           <input type="checkbox" name="transformer" id="transformer">
                                                                        </ul>
                                                                     </ul>
                                                                  </td>
                                                                  
                                                               </tr>
                                                            </table>
                                                            <table style="width:100%">
                                                         <tr>
                                                            <td>
                                                            <ul>
                                                               <input type="file" name="file" accept=".png" required>
                                                               <button type="submit" class="blue-btn register" >Upload</button>
                                                            </ul>
                                                         </td>
                                                            <td>
                                                               <tr>
                                                            <ul>
                                                               <label for="submitted_by">Submitted by:</label>
                                                               <input type="text" name="submitted_by" id="submitted_by">
                                                               <label for="author">Author:</label>
                                                               <input type="text" name="author" id="author">
                                                               <label for="ship_name">Ship name:</label>
                                                               <input type="text" name="ship_name" id="ship_name">
                                                            </ul>
                                                         </tr>
                                                         </td>
                                                            <td>
                                                            <tr>
                                                            <ul>
                                                               <label for="price">Price :</label>
                                                               <input type="text" name="price" id="price" pattern="[0-9]+" required>
                                                               <label for="description">Description:</label>
                                                               <input type="text" name="description" id="description">
                                                            </ul>
                                                         </tr>
                                                         </td>
                                                         </tr>
                                                         <p>Price must be a number, without space, dot or comma. Absurd amount will fail the upload ;) </p>
                                                         </table>
                                                         </form>  
                  </ul>
               </div>
            </div>
         </section>
      </main>
      <footer>
         <div class="footer-content">
            <img loading="lazy"alt="Excelsior logo" src="img/excelsior-logo.webp">
            <ul>
               <li><a title="Cookies policy" href="#">Cookies policy</a></li>
                  <li><a title="Another footer link" href="#">Another footer link</a></li>
                     <li><a title="More footer links" href="#">More footer links</a></li>
            </ul>
         </div>
      </footer>
   </body>
</html>
<script>
   function redirectToHomePage() {
     window.location.href = "/";
   }
 </script>