<!DOCTYPE html>

<style>
    .hidden-checkbox {
         display: none;
       }
</style>

<style>
    .hidden-checkbox {
         display: none;
       }
</style>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo Excelsior | Cosmoteer</title>
    <meta name="robots" content="noindex,nofollow">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/interface.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/upload.css">
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/index.js"></script>
</head>

<body>
    <header>
        <button id="menu-btn" class="menu-btn blue-btn" type="button" onclick="redirectToHomePage()"><span></span><span></span><span></span></button>
        <a href="/"><img loading="lazy" alt="Excelsior logo" src="/static/img/excelsior-logo.webp"></a>
        <ul class="user-container">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo Excelsior | Cosmoteer</title>
    <meta name="robots" content="noindex,nofollow">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/interface.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/upload.css">
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/index.js"></script>
</head>

<body>
    <header>
        <button id="menu-btn" class="menu-btn blue-btn" type="button" onclick="redirectToHomePage()"><span></span><span></span><span></span></button>
        <a href="/"><img loading="lazy" alt="Excelsior logo" src="/static/img/excelsior-logo.webp"></a>
        <ul class="user-container">
            <p>Welcome {{user}} </p>
        </ul>
    </header>
    <main>
        <h1>Upload your ship !</h1>
        <section id="competitive" class="content-container">
    </header>
    <main>
        <h1>Upload your ship !</h1>
        <section id="competitive" class="content-container">
            <div class="section-description">
                <h2>Share your ships with the community</h2>
                <p>Pick tags your ship has in order to help the community to find your creation !</p>
                <p>To go back click on the hamburger menu on the top left.</p>
                <h2>Share your ships with the community</h2>
                <p>Pick tags your ship has in order to help the community to find your creation !</p>
                <p>To go back click on the hamburger menu on the top left.</p>
            </div>
            <div class="tabs-container">
                <div id="elim-competitive-tab" class="tab active">

                    <ul>
                        <h1>Ship Upload</h1>
                        <p>{{ data.name }}</p>
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            <img loading="lazy" src="{{ data.url_png }}" width="512" height="512">
                            <table style="width:100%">
                                <tr>
                                    <th scope="col">Thrust arrangements</th>
                                    <th scope="col">Defenses</th>
                                    <th scope="col">Ship type</th>
                                </tr>
                                <tr>
                                    <td>
                                        <ul>
                                            <label for="bidirectional_thrust">Bidirectional Thrust</label>
                                            <input type="checkbox" name="bidirectional_thrust" id="bidirectional_thrust">
                                        </ul>
                                        <ul>
                                            <label for="mono_thrust">Mono-Thrust</label>
                                            <input type="checkbox" name="mono_thrust" id="mono_thrust">
                                        </ul>
                                        <ul>
                                            <label for="multi_thrust">Multi-Thrust</label>
                                            <input type="checkbox" name="multi_thrust" id="multi_thrust">
                                        </ul>
                                        <ul>
                                            <label for="omni_thrust">Omni-Thrust</label>
                                            <input type="checkbox" name="omni_thrust" id="omni_thrust">
                                        </ul>

                                    </td>
                                    <td>
                                        <ul>
                                            <label for="armor_defenses">Armor Defenses</label>
                                            <input type="checkbox" name="armor_defenses" id="armor_defenses">
                                        </ul>
                                        <ul>
                                            <label for="mixed_defenses">Mixed Defenses</label>
                                            <input type="checkbox" name="mixed_defenses" id="mixed_defenses">
                                        </ul>
                                        <ul>
                                            <label for="shield_defenses">Shield Defenses</label>
                                            <input type="checkbox" name="shield_defenses" id="shield_defenses">
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <label for="Corvette">Corvette</label>
                                            <input type="checkbox" name="Corvette" id="Corvette">
                                        </ul>
                                        <ul>
                                            <label for="campaign_ship">Campaign ship</label>
                                            <input type="checkbox" name="campaign_ship" id="campaign_ship">
                                        </ul>
                                        <ul>
                                            <label for="diagonal">Diagonal</label>
                                            <input type="checkbox" name="diagonal" id="diagonal">
                                        </ul>
                                        <ul>
                                            <label for="flanker">Flanker</label>
                                            <input type="checkbox" name="flanker" id="flanker">
                                        </ul>
                                        <ul>
                                            <label for="mixed_weapons">Mixed Weapons</label>
                                            <input type="checkbox" name="mixed_weapons" id="mixed_weapons">
                                        </ul>
                                        <ul>
                                            <label for="painted">Painted</label>
                                            <input type="checkbox" name="painted" id="painted">
                                        </ul>
                                        <ul>
                                            <label for="splitter">Splitter</label>
                                            <input type="checkbox" name="splitter" id="splitter">
                                        </ul>
                                        <ul>
                                            <label for="utility_weapons">Utility Weapons</label>
                                            <input type="checkbox" name="utility_weapons" id="utility_weapons">
                                        </ul>
                                        <ul>
                                            <label for="transformer">Transformer</label>
                                            <input type="checkbox" name="transformer" id="transformer">
                                        </ul>
                    </ul>
                    </td>
                    </tr>
                    </table>
                    <table style="width:100%">
                        <tr>
                            <td>
                                <ul>
                                    <button type="submit" class="blue-btn register">Upload</button>
                                </ul>
                            </td>
                            <td>
                                <tr>
                                    <ul>
                                        <label for="author">Author:</label>
                                        <input type="text" name="author" id="author" value="{{ data.author }}">
                                        <label for="ship_name">Ship name:</label>
                                        <input type="text" name="ship_name" id="ship_name" value="{{ data.shipname }}">
                                    </ul>
                                </tr>
                            </td>
                            <td>
                                <tr>
                                    <ul>
                                        <label for="price">Price :</label>
                                        <input type="text" name="price" id="price" pattern="[0-9]+" required>
                                        <label for="description">Description:</label>
                                        <input type="text" name="description" id="description">
                                        <input type="hidden" name="filename" id="filename" value="{{ data.name }}">
                                        <input type="hidden" name="url_png" id="url_png" value="{{ data.url_png }}">
                                    </ul>
                                </tr>
                            </td>
                        </tr>
                        <p>Price must be a number, without space, dot or comma. Absurd amount will fail the upload ;) </p>
                    </table>
                    <input type="checkbox" class="hidden-checkbox" class="hidden-checkbox" name="cannon" id="cannon" {% if 'cannon' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="airlock" id="airlock" {% if 'airlock' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="boost_thruster" id="boost_thruster" {% if 'boost_thruster' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="campaign_factories" id="campaign_factories" {% if 'campaign_factories' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="deck_cannon" id="deck_cannon" {% if 'deck_cannon' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="disruptors" id="disruptors" {% if 'disruptors' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="emp_missiles" id="emp_missiles" {% if 'emp_missiles' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="explosive_charges" id="explosive_charges" {% if 'explosive_charges' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="factories" id="factories" {% if 'factories' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="fire_extinguisher" id="fire_extinguisher" {% if 'fire_extinguisher' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="flak_battery" id="flak_battery" {% if 'flak_battery' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="he_missiles" id="he_missiles" {% if 'he_missiles' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="heavy_Laser" id="heavy_Laser" {% if 'heavy_Laser' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="hyperdrive_relay" id="hyperdrive_relay" {% if 'hyperdrive_relay' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="ion_Beam" id="ion_Beam" {% if 'ion_Beam' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="ion_Prism" id="ion_Prism" {% if 'ion_Prism' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="large_cannon" id="large_cannon" {% if 'large_cannon' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="large_reactor" id="large_reactor" {% if 'large_reactor' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="large_shield" id="large_shield" {% if 'large_shield' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="laser" id="laser" {% if 'laser' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="medium_reactor" id="medium_reactor" {% if 'medium_reactor' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="mines" id="mines" {% if 'mines' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="mining_Laser" id="mining_Laser" {% if 'mining_Laser' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="nukes" id="nukes" {% if 'nukes' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="point_Defense" id="point_Defense" {% if 'point_Defense' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="railgun" id="railgun" {% if 'railgun' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="sensor" id="sensor" {% if 'sensor' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="small_hyperdrive" id="small_hyperdrive" {% if 'small_hyperdrive' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="small_reactor" id="small_reactor" {% if 'small_reactor' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="small_shield" id="small_shield" {% if 'small_shield' in tags %}checked{% endif %}>
                    <input type="checkbox" class="hidden-checkbox" name="tractor_beams" id="tractor_beams" {% if 'tractor_beams' in tags %}checked{% endif %}>

                    </form>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <img loading="lazy" alt="Excelsior logo" src="img/excelsior-logo.webp">
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <img loading="lazy" alt="Excelsior logo" src="img/excelsior-logo.webp">
            <ul>
                <li><a title="Cookies policy" href="#">Cookies policy</a></li>
                <li><a title="Another footer link" href="#">Another footer link</a></li>
                <li><a title="More footer links" href="#">More footer links</a></li>
                <li><a title="Cookies policy" href="#">Cookies policy</a></li>
                <li><a title="Another footer link" href="#">Another footer link</a></li>
                <li><a title="More footer links" href="#">More footer links</a></li>
            </ul>
        </div>
    </footer>
</body>

        </div>
    </footer>
</body>

</html>
<script>
    function redirectToHomePage() {
         window.location.href = "/";
       }
</script>
    function redirectToHomePage() {
         window.location.href = "/";
       }
</script>